body {
    background: #000 url("../images/subtle-texture.png");
    color: gold;
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*----Spicy Ramen Page Start----*/

.ramen-img {
    display: block;
    margin: 0 auto;
    width: 400px; /* adjust to taste */
    border-radius: 10px;
}

.ramen-page {
    background: #000 url("../images/subtle-texture.png");
    background-size: cover;
    background-repeat: repeat;
    color: gold;
    padding: 20px;
}

.ingredients h3 {
    color:  gold;
    font-style: italic; 
    margin-bottom: 3rem;
    text-decoration: underline;
}

ol {
    text-align: left;   /* keeps bullets aligned */
    margin: 0 auto;     /* centers the block */
    width: fit-content; /* optional */
}

ul {
    text-align: left;   /* keeps bullets aligned */
    margin: 0 auto;     /* centers the block */
    width: fit-content; /* optional */
}

.description {
    margin-bottom: 2rem;
}

.description h2 { 
    color: gold;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: underline;
}     

.description p {
    color: white;
    display: inline-block;
    max-width: 600px;
    font-size: 1.2rem;
}

.ingredients {
    margin-bottom: 40px;
}

.ingredients ul {
    color: white;
    margin-bottom: 28px;
    font-size: 1.2rem;
}

.toppings {
    margin-bottom: 40px;
}

.toppings h3 {
    color: gold;
    font-style: italic;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.toppings ul {
    color: white;
    font-size: 1.2rem;
}

.directions h3 {
    color: gold;  
    font-style: italic;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.directions ol {
    color: white;
    font-size: 1.2rem;
}

.home-link {
    display: block;
    width: fit-content;
    margin: 28px auto 0 auto;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

    /*----Spicy Ramen Page Ends----*/

/*-----Asian Chicken Page Start-----*/

.ingredients-directions {
    display: box;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}

.home-button {
    background-color: red;
    margin: 2rem auto 0 auto;
    padding: 10px 10px;
    width: fit-content;
    display: block;
}