body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.ramen-page {
   background-color: black;
   color: gold;
    padding: 20px;
}

.ramen-page {
   background-image: url(../images/dragon.webp) ;
   background-size: 800px auto;
   background-position: center;
   background-repeat: no-repeat;
}

.ramen-page p {
   max-width: 600px;
}

.description p {
    color: white;
}

.ingredients ul {
    color: white;
}
.home-link {
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
