body {
    background: #000 url("../images/subtle-texture.png");
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    text-align: center;
}

.ramen-img {
    display: block;
    margin: 0 auto;
    width: 400px; /* adjust to taste */
    border-radius: 10px;
}

.ramen-page {
    background: #000 url("../images/subtle-texture.png");
    background-size: cover;
    background-repeat: repeat;
    color: gold;
    padding: 20px;
}

.ingredients h3 {
    color:  gold;
    font-style: italic; 
    margin-bottom: 2rem;
}

ol {
    text-align: left;   /* keeps bullets aligned */
    margin: 0 auto;     /* centers the block */
    width: fit-content; /* optional */
}

ul {
    text-align: left;   /* keeps bullets aligned */
    margin: 0 auto;     /* centers the block */
    width: fit-content; /* optional */
}

.description {
    margin-bottom: 28px;
}

.description h2 { 
    color: gold;
    font-style: italic;
}

.description p {
    color: white;
    display: inline-block;
    max-width: 600px;
}

.ingredients {
    margin-bottom: 40px;
}

.ingredients ul {
    color: white;
    margin-bottom: 28px;
}

.toppings {
    margin-bottom: 40px;
}

.toppings h3 {
    color: gold;
    font-style: italic;
    margin-bottom: 2rem;
}

.toppings ul {
    color: white;
}

.directions h3 {
    color: gold;  
    font-style: italic;
}

.directions ol {
    color: white;
}


.home-link {
    display: block;
    width: fit-content;
    margin: 28px auto 0 auto;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
